* {
  box-sizing: border-box;
}
body {
  background: #4b6cb7;
  background: -webkit-linear-gradient(to right, #182848, #4b6cb7);
  background: linear-gradient(to right, #2d4168e8, #4b6cb7);
  margin: 0px;
  font-family: "Noto Sans", sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  min-height: 100vh;
  /* background-position: 0px -30vh; */
  /* background-repeat: no-repeat; */
}
.button-switch {
  font-size: 16px;
  height: 1.875em;

  position: relative;
  width: 4.5em;
}
.button-switch .lbl-off,
.button-switch .lbl-on {
  cursor: pointer;
  display: block;
  font-size: 0.9em;
  font-weight: bold;
  line-height: 1em;
  position: absolute;
  top: 0.5em;
  transition: opacity 0.25s ease-out 0.1s;
  text-transform: uppercase;
}
.button-switch .lbl-off {
  right: 0.4375em;
}
.button-switch .lbl-on {
  color: #fefefe;
  opacity: 0;
  left: 0.4375em;
}
.button-switch .switch {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 0;
  font-size: 1em;
  left: 0;
  line-height: 0;
  outline: none;
  position: absolute;
  top: 0;
  width: 0;
}
.button-switch .switch:before,
.button-switch .switch:after {
  content: "";
  font-size: 1em;
  position: absolute;
}
.button-switch .switch:before {
  border-radius: 1.25em;
  background: #bdc3c7;
  height: 1.875em;
  left: -0.25em;
  top: -0.1875em;
  transition: background-color 0.25s ease-out 0.1s;
  width: 4.5em;
}
.button-switch .switch:after {
  box-shadow: 0 0.0625em 0.375em 0 #666;
  border-radius: 50%;
  background: #fefefe;
  height: 1.5em;
  transform: translate(0, 0);
  transition: transform 0.25s ease-out 0.1s;
  width: 1.5em;
}
.button-switch .switch:checked:after {
  transform: translate(2.5em, 0);
}
.button-switch .switch:checked ~ .lbl-off {
  opacity: 0;
}
.button-switch .switch:checked ~ .lbl-on {
  opacity: 1;
}
.button-switch .switch#switch-orange:checked:before {
  background: #e67e22;
}
.button-switch .switch#switch-blue:checked:before {
  background: #31c331;
}
.hWDDbi {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  overflow-x: hidden;
}
.heYvEt {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  -webkit-box-pack: justify;
  justify-content: space-between;
}
.jXPEPF {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 160px;
  -webkit-box-align: center;
  align-items: center;
  flex: 1 1 0%;
  overflow: hidden auto;
  z-index: 1;
}
.dbsyCV {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  top: 0px;
  position: absolute;
  z-index: 2;
  background-color: #2b2b33;
}
.hqlyjy {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  width: 100%;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  padding: 1rem 1rem 0px;
  -webkit-box-pack: justify;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 1rem;
}
.dwanZf {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}
.brtbBv {
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  font-size: 20px;
  line-height: 45px;
  font-weight: 500;
}
.TppIa {
  display: flex;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
}
.hVsZDB {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  pointer-events: auto;
}
.epzdOr {
  transition: transform 0.3s ease 0s;
}
.epzdOr img {
  height: 2.5rem;
}
.dHNPMh {
  color: #fff;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
  font-weight: 400;
}
.dHNPMh.active {
  color: rgb(198 175 242);
}
.eFVBlW {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.dwanZf {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}
.kHrXtX {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}
.NUgBY {
  white-space: nowrap;
  width: fit-content;
  margin-left: 10px;
  pointer-events: auto;
}
.fkQRve {
  display: flex;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
  border-radius: 12px;
  white-space: nowrap;
  width: 100%;
}
.iMzjOX {
  text-align: center;
  outline: none;
  text-decoration: none;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  font-size: 20px;
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  -webkit-box-align: center;
  align-items: center;
  padding: 0.5rem;
  border-radius: 12px;
  cursor: pointer;
  user-select: none;
  font-weight: 500;

  background: linear-gradient(
    272.25deg,
    rgba(81, 36, 255, 0.15) 0.08%,
    rgba(130, 98, 255, 0.15) 95.38%,
    rgba(138, 113, 234, 0.15) 95.38%
  );
  color: #ffffff;
  border: 1px solid #5471ae;
}
.iMzjOX:hover {
  transition: ease all 0.8s;
  background-color: rgba(81, 36, 255, 0.15);
}
.kHjJep {
  flex: 1 1 auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0px 0.5rem 0px 0.25rem;
  font-size: 18px;
  width: fit-content;
  font-weight: 400;
}
.gwkOps {
  margin-left: 0.5rem;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  border: none;
  text-align: left;
}
.isVcBK {
  margin-left: 0.5rem;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  border: none;
  text-align: left;
}
.kLArsm {
  margin-left: 0.5rem;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  border: none;
  text-align: left;
}
.dfcoMa {
  position: relative;
  width: 100%;
  border: none;
  margin: 0px;
  height: 35px;
  background-color: rgb(39 173 184);
  padding: 0.15rem 0.5rem;
  border-radius: 0.5rem;
  color: #fff;
  cursor: pointer;
  user-select: none;
  border: none;
  outline: none;
  background: linear-gradient(
    272.25deg,
    rgba(81, 36, 255, 0.15) 0.08%,
    rgba(130, 98, 255, 0.15) 95.38%,
    rgba(138, 113, 234, 0.15) 95.38%
  );
  color: #ffffff;

  border: 1px solid #5471ae;
}
.dfcoMa:hover {
  transition: ease all 0.8s;
  background-color: rgba(81, 36, 255, 0.15);
}
.dfcoMa svg {
  margin-top: 2px;
}
.iquYpk {
  height: 20px;
  width: 20px;
}
.isoYLc {
  width: 100%;
  border: none;
  margin: 0px;
  height: 35px;
  padding: 0.15rem 0.5rem;
  border-radius: 0.5rem;
  user-select: none;
  border: none;
  cursor: pointer;
  outline: none;
  background: linear-gradient(
    272.25deg,
    rgba(81, 36, 255, 0.15) 0.08%,
    rgba(130, 98, 255, 0.15) 95.38%,
    rgba(138, 113, 234, 0.15) 95.38%
  );
  color: #ffffff;
  border: 1px solid #5471ae;
}
.isoYLc svg {
  margin-top: 2px;
}
.cRHGlC {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  border: none;
  margin: 0px;
  height: 35px;
  background-color: rgb(39 173 184);
  color: rgb(255, 255, 255);
  padding: 0.15rem 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
}
.cRHGlC svg {
  height: 19px;
  width: 19px;
  margin-right: 0.2rem;
}
.kyvGso {
  position: fixed;
  top: 5%;
  width: 100%;
}
.bdbQtb {
  display: grid;
  grid-auto-rows: auto;
  row-gap: 20px;
  position: fixed;
  top: 64px;
  right: 1rem;
  width: 100%;
  z-index: 2;
  max-width: 355px !important;
}
.jpneRx {
  position: relative;
  max-width: 100%;
  height: 0px;
  margin: 0px;
  display: none;
}
.dMSNfz {
  height: 99%;
  overflow: auto hidden;
  display: flex;
  flex-direction: row;
}
.bVkJmo {
  position: relative;
  max-width: 420px;
  width: 100%;
  box-shadow: rgba(171, 133, 115, 0.16) 0px 2px 10px;
  border-radius: 20px;
  padding: 1rem;
  max-width: 420px;
  width: 100%;
  background: #2b2b33;
  box-shadow: rgb(0 0 0 / 1%) 0px 0px 1px, rgb(0 0 0 / 4%) 0px 4px 8px,
    rgb(0 0 0 / 4%) 0px 16px 24px, rgb(0 0 0 / 1%) 0px 24px 32px;
  border-radius: 30px;
}
.gwAiXf {
  display: flex;
  flex-flow: row nowrap;
  -webkit-box-align: center;
  align-items: center;
  border-radius: 3rem;
  justify-content: space-evenly;
}
.huWQTB {
  position: relative;
}
.MGJZG.ACTIVE {
  border-radius: 12px;
  font-weight: 500;
  color: rgb(255, 255, 255);
}
.MGJZG {
  display: flex;
  flex-flow: row nowrap;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  height: 3rem;
  border-radius: 3rem;
  outline: none;
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
}
.bnwrJE {
  display: flex;
  flex-flow: row nowrap;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  height: 3rem;
  border-radius: 3rem;
  outline: none;
  cursor: pointer;
  text-decoration: none;
  color: rgb(108, 114, 132);
  font-size: 20px;
  font-weight: 600;
}
.cmYnRT {
  margin-top: 1rem;
}
.ktLsLy {
  display: flex;
  flex-flow: column nowrap;
  position: relative;
  border-radius: 20px;
  border: 1px solid rgb(247, 248, 250);
  background-color: rgb(255, 255, 255);
  z-index: 1;
}
.fgzRPw {
  display: grid;
  grid-auto-rows: auto;
}
.FFjrp {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  width: 100%;
  padding: 0.25rem 0.75rem 0px;
  border-radius: 20px;
}
.kLdGAn {
  border-radius: 20px;
  border: 1px solid rgb(247, 248, 250);

  background-color: white;
}
.gsAhEo {
  display: flex;
  flex-flow: row nowrap;
  -webkit-box-align: center;
  align-items: center;
  color: rgb(255, 255, 255);
  font-size: 0.75rem;
  line-height: 1rem;
  padding: 0.75rem 1rem 0px;
}
.KeRbd {
  display: flex;
  flex-flow: row nowrap;
  -webkit-box-align: center;
  align-items: center;
  padding: 0.75rem 0.75rem 0.75rem 1rem;
}
.XssaD {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  width: 100%;
  display: flex;
  padding: 0px;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
}
.css-1qqnh8x {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  font-weight: 600;
  font-size: 14px;
  color: rgb(43 43 51);
}
.gmtMfS {
  color: black;
  width: 0px;
  position: relative;
  font-weight: 500;
  outline: none;
  border: none;
  flex: 1 1 auto;
  background-color: white;
  font-size: 24px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0px;
  appearance: textfield;
}

.fzdHJT {
  -webkit-box-align: center;
  align-items: center;
  height: 2.2rem;
  font-size: 20px;
  font-weight: 500;
  background-color: rgb(25, 19, 38);
  color: rgb(255, 255, 255);
  border-radius: 12px;
  box-shadow: none;
  outline: none;
  cursor: pointer;
  user-select: none;
  border: none;
  padding: 0px 0.5rem;
  background: #383351;
  color: #ffffff;
  border: 1px solid #383351;
}
.iUcfBk {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
}
.lbsOLX {
  width: 24px;
  height: 24px;
  box-shadow: rgba(0, 0, 0, 0.075) 0px 6px 10px;
  border-radius: 24px;
}
.iamSqE {
  margin: 0px 0.25rem 0px 0.75rem;
  font-size: 20px;
}
.gDaiQY {
  margin: 0px 0.25rem 0px 0.5rem;
  height: 35%;
}
.kRaYsh {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  width: 100%;
  display: flex;
  padding: 0px;
  -webkit-box-align: center;
  align-items: center;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  justify-content: center;
}
.dSKDxD {
  padding: 2px;
}
.KUBTK {
  display: grid;
  grid-auto-rows: auto;
  row-gap: 4px;
}
.kSzuyR {
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  z-index: 1;
  font-size: 16px;
  font-weight: 600;
  display: block;
  border-radius: 8px;
  background: linear-gradient(
    272.25deg,
    rgba(81, 36, 255, 0.15) 0.08%,
    rgba(130, 98, 255, 0.15) 95.38%,
    rgba(138, 113, 234, 0.15) 95.38%
  );
  color: #ffffff;
  padding: 1em;
  margin-bottom: 25px;
  text-align: center;
  padding-left: 0;
  border: 1px solid #5471ae;
}
.kSzuyR:hover {
  transition: ease all 0.8s;
  background-color: rgba(81, 36, 255, 0.15);
}
/* .ufUdu {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    appearance: none;
    display: inline-block;
    text-align: center;
    line-height: inherit;
    text-decoration: none;
    font-size: inherit;
    padding: 8px 16px;
    color: rgb(255, 255, 255);
    border: 0px;
    border-radius: 4px;
} */
.dPdaFf {
  padding-top: calc(16px + 2rem);
  padding-bottom: 20px;
  margin-top: -2rem;
  width: 100%;
  max-width: 400px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  color: rgb(195, 197, 203);
  background-color: rgba(0, 0, 0, 0.1);
  z-index: -1;
  transform: translateY(-100%);
  transition: transform 300ms ease-in-out 0s;
}
.dfMpdI {
  width: 350px;
  margin-top: 20px;
}
.crMEdn {
  margin-top: 5rem;
}
.fWOHLD {
  -webkit-box-align: center;
  align-items: center;
  height: 2.2rem;
  font-size: 20px;
  font-weight: 600;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.075) 0px 6px 10px;
  outline: none;
  cursor: pointer;
  user-select: none;
  border: none;
  padding: 0px 0.5rem;
  padding: 6px 8px 9px 15px;
  background: #383351;
  color: #ffffff;
  border: 1px solid #383351;
}
.iconImg1 {
  margin-right: 10px;
}
.iUcWXe:hover {
  background: rgb(255, 0, 122);
  cursor: pointer;
}
.iUcWXe:active {
  background: rgb(255, 0, 122);
  cursor: pointer;
}
.fWOHLD:focus,
.fWOHLD:hover {
  /* background-color: rgb(32, 179, 192); */
  transition: ease all 0.7s;
}
.hyQluC {
  font-size: 16px;
  font-weight: 500;
}
.gDaiQY {
  margin: 0px 0.25rem 0px 0.5rem;
  height: 35%;
}
.bThAndTv {
  -webkit-box-align: center;
  align-items: center;
  display: none;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 9999999999;
}

.eduIss {
  margin: 0px 0px 2rem;
  border: 1px solid white;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 8px 0px;
  padding: 0px;
  width: 50vw;
  overflow: hidden;
  align-self: center;
  max-width: 420px;
  max-height: 90vh;
  min-height: 80vh;
  display: flex;
  border-radius: 20px;
}
.lcECUE {
  display: flex;
  flex-direction: column;
  -webkit-box-pack: start;
  justify-content: flex-start;
}
.efnHye {
  display: grid;
  grid-auto-rows: auto;
  row-gap: 14px;
  padding: 20px 20px 12px;
}
.jCCbDR {
  width: 100%;
  height: 1px;
  background-color: white;
}
.lkpXoN {
  position: relative;
  display: flex;
  padding: 16px;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  white-space: nowrap;
  background: none;
  outline: none;
  border-radius: 20px;
  color: black;
  border: 1px solid rgb(64, 68, 79);
  appearance: none;
  font-size: 18px;
  transition: border 100ms ease 0s;
}
.css-xy7yfl {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  font-weight: 600;
  font-size: 19px;
  color: black;
}
.gsvsfq {
  cursor: pointer;
  color: black;
}
.lkpXoN {
  position: relative;
  display: flex;
  padding: 22px;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  white-space: nowrap;
  background: none;
  outline: none;
  border-radius: 20px;
  color: black;
  border: 1px solid rgb(1 165 243);
  appearance: none;
  font-size: 18px;
  transition: border 100ms ease 0s;
}
.xkrrd {
  display: inline-block;
}
.bulvVf {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding: 0.2rem;
  border: none;
  background: none white;
  outline: none;
  cursor: default;
  border-radius: 36px;
  color: rgb(195, 197, 203);
}
.css-1pfyy1z {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  font-size: 17px;
  font-weight: 600;
  color: black;
}
.bvWwXW {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  width: fit-content;
  padding: 8px;
  background-color: white;
  color: black;
  border-radius: 8px;
  user-select: none;
}
.resize-triggers {
  animation: 1ms resizeanim;
  visibility: hidden;
  opacity: 0;
}
.resize-triggers,
.resize-triggers > div,
.contract-trigger:before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  z-index: -1;
}
.cbwtzf {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  width: 100%;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding: 4px 20px;
  height: 56px;
  display: grid;
  grid-template-columns: auto minmax(auto, 1fr) auto minmax(0px, 72px);
  gap: 16px;
  pointer-events: none;
  color: #fff;
  font-size: 18px;
  opacity: 0.5;
}
.cbwtzf img {
  height: 35px;
  width: 35px;
}
.iwYihq {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  width: 100%;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding: 4px 20px;
  height: 56px;
  display: grid;
  grid-template-columns: auto minmax(auto, 1fr) auto minmax(0px, 72px);
  gap: 16px;
  cursor: pointer;
  opacity: 1;
}
.lbsOLX {
  width: 24px;
  height: 24px;
  box-shadow: rgba(0, 0, 0, 0.075) 0px 6px 10px;
  border-radius: 24px;
}

.vKKRX {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  display: flex;
  padding: 0px;
  -webkit-box-align: center;
  align-items: center;
  width: fit-content;
}
.css-8mokm4 {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  font-weight: 500;
  color: black;
  font-size: 19px;
}
.gKweOP {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  display: flex;
  padding: 0px;
  -webkit-box-align: center;
  align-items: center;
  width: fit-content;
  color: rgb(36, 199, 214);
  font-size: 14px;
}
.eoHciM {
  width: 35px;
  height: 35px;
}
.resize-triggers > div {
  background: #eee;
  overflow: auto;
}
.contract-trigger:before {
  width: 200%;
  height: 200%;
}
.hWQViw {
  display: grid;
  grid-auto-rows: auto;
  row-gap: 24px;
  justify-items: center;
}
.bGqQbM {
  padding: 18px;
  width: 100%;
  font-weight: 500;
  text-align: center;
  border-radius: 20px;
  outline: none;
  border: 1px solid transparent;
  text-decoration: none;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  z-index: 1;
  background: linear-gradient(rgb(84, 218, 222) 0%, rgb(36, 199, 214) 76.22%);
  color: rgb(25, 19, 38);
}
.bgrLUl {
  display: grid;
  grid-auto-rows: auto;
  row-gap: 12px;
}
.css-68pfx3 {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  font-weight: 500;
  font-size: 20px;
}
.jVTVYR {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  width: 100%;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  padding: 35px 12px 8px 8px;
  -webkit-box-pack: justify;
  justify-content: space-between;
}
.iWgHCm {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  width: 100%;
  border-radius: 16px;
  padding: 40px;
  border: 1px solid white;
  background-color: white;
}
.css-12kx7gi {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  color: rgb(255, 255, 255);
  font-weight: 600;
}
.xkrrd {
  display: inline-block;
}
.bulvVf {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding: 0.2rem;
  border: none;
  background: none white;
  outline: none;
  cursor: default;
  border-radius: 36px;
  color: rgb(195, 197, 203);
}
.css-57in8s {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  font-weight: 600;
  font-size: 15px;
  color: rgb(108, 114, 132);
  text-align: center;
}
.css-1qa2by4 {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  text-align: left;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
}
.dqvYhn {
  text-decoration: none;
  cursor: pointer;
  color: rgb(36, 199, 214);
  font-weight: 600;
}
#js-tabs .panel {
  display: none;
}
#js-tabs .panel.active {
  display: block;
}
.MConnECt {
  -webkit-box-align: center;
  align-items: center;
  display: none;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  position: fixed;
  top: 3px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 9999999999;
}
.cacacna {
  background-color: white;
  border-radius: 20px;
}
.fXZArd {
  display: flex;
  flex-flow: column nowrap;
  margin: 0px;
  padding: 0px;
  width: 28vw;
  border: 1px solid rgb(237, 238, 242);

  background-color: rgb(60 46 95);
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.05) 20px 12px 8px 0px;
  border-radius: 20px;
}
.eHXgIk {
  position: relative;
}
.elnqCz {
  position: absolute;
  right: 1rem;
  top: 14px;
  color: rgb(0, 0, 0);
  cursor: pointer;
}
.XoOvt {
  display: flex;
  flex-flow: row nowrap;
  padding: 1rem;
  font-weight: 600;
  color: rgb(0, 0, 0);
}
.gacXBP {
  /* background-color: rgb(60 46 95); */
  background-color: rgb(247, 248, 250);

  padding: 2rem;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.cClpZT {
  display: grid;
  gap: 10px;
}
.fyUPyM {
  display: flex;
  flex-flow: row wrap;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  margin-top: 2rem;
  font-weight: 600;
  color: rgb(36, 199, 214);
}
.gEsogs {
  background-color: rgb(247, 248, 250);
  cursor: pointer;
  outline: none;
  border: 1px solid rgb(237, 238, 242);
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding: 1rem;
  margin-top: 0px;
  opacity: 1;
  width: 100% !important;
}
.ekTXUZ {
  text-decoration: none;
  cursor: pointer;
  color: rgb(36, 199, 214);
  font-weight: 500;
}
.ixUVLu {
  display: flex;
  flex-flow: column nowrap;
  -webkit-box-pack: center;
  justify-content: center;
  height: 100%;
}
.iBaZQB {
  display: flex;
  flex-flow: column nowrap;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}
.iBaZQB > img,
.iBaZQB span {
  height: 24px;
  width: 24px;
}
.kNRTEP {
  display: flex;
  flex-flow: row nowrap;
  color: rgb(0, 0, 0);
  font-size: 1rem;
  font-weight: 500;
}
.ixUVLu {
  display: flex;
  flex-flow: column nowrap;
  -webkit-box-pack: center;
  justify-content: center;
  height: 100%;
}
.iBaZQB {
  display: flex;
  flex-flow: column nowrap;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}
.kNRTEP {
  display: flex;
  flex-flow: row nowrap;
  color: rgb(0, 0, 0);
  font-size: 1rem;
  font-weight: 500;
}
.iCZhiw {
  min-width: 20.125rem;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.01) 0px 0px 1px, rgba(0, 0, 0, 0.04) 0px 4px 8px,
    rgba(0, 0, 0, 0.04) 0px 16px 24px, rgba(0, 0, 0, 0.01) 0px 24px 32px;
  border-radius: 0.5rem;
  border: 1px solid rgb(237, 238, 242);
  display: none;
  flex-direction: column;
  font-size: 1rem;
  position: absolute;
  top: 3rem;
  right: 0rem;
  z-index: 100;
}
.css-18hn7mq {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  font-weight: 600;
  font-size: 16px;
  color: rgb(0, 0, 0);
}

.kYjCVC {
  display: grid;
  grid-auto-rows: auto;
  row-gap: 8px;
}
.css-12a3kkh {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  font-weight: 600;
  color: rgb(0, 0, 0);
  font-size: 14px;
}
.xkrrd {
  display: inline-block;
}
.bulvVf {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding: 0.2rem;
  border: none;
  background: none white;
  outline: none;
  cursor: default;
  border-radius: 36px;
  color: rgb(0, 0, 0);
}
.iUcWXe {
  -webkit-box-align: center;
  align-items: center;
  height: 2rem;
  border-radius: 36px;
  font-size: 12px;
  width: auto;
  min-width: 3rem;
  border: 1px solid rgb(64, 68, 79);
  outline: none;
  background: white;
  margin-right: 8px;
  color: rgb(0, 0, 0);
}
.fl {
  display: flex;
}
.hqrjlL {
  /* color: rgb(255, 255, 255); */
  -webkit-box-align: center;
  align-items: center;
  border-radius: 36px;
  font-size: 12px;
  width: auto;
  min-width: 3rem;
  outline: none;
  background: white;
  height: 2rem;
  position: relative;
  padding: 0px 0.75rem;
  flex: 1 1 0%;
  border: 1px solid rgb(36, 199, 214);
}
.hqrjlL input {
  width: 100%;
  height: 100%;
  border: 0px;
  border-radius: 2rem;
}
.fFLXEo {
  border-radius: 16px;
  border: 1px solid rgba(21, 61, 111, 0.44);
  display: flex;
  width: fit-content;
  cursor: pointer;
  outline: none;
  padding: 0px;
  background-color: transparent;
}
.OYeDU {
  padding: 0.25rem 0.5rem;
  border-radius: 14px;
  background: rgb(36, 199, 214);
  color: rgb(255, 255, 255);
  font-size: 0.825rem;
  font-weight: 400;
}
.kpaeOE {
  padding: 0.25rem 0.5rem;
  border-radius: 14px;
  background: none;
  color: rgb(108, 114, 132);
  font-size: 0.825rem;
  font-weight: 400;
}
.fhWDJu {
  background: white;
  font-size: 16px;
  width: auto;
  outline: none;
  color: rgb(0, 0, 0);
  text-align: right;
  border: none;
}
.ksMSYI {
  -webkit-box-align: center;
  align-items: center;
  height: 2rem;
  border-radius: 36px;
  font-size: 12px;
  width: auto;
  min-width: 3rem;
  border: 1px solid rgb(64, 68, 79);
  outline: none;
  background: white;
  margin-right: 8px;
  color: rgb(255, 255, 255);
}
.loZgOd {
  min-width: 8.125rem;
  background-color: rgb(237, 238, 242);
  box-shadow: rgb(0 0 0 / 1%) 0px 0px 1px, rgb(0 0 0 / 4%) 0px 4px 8px,
    rgb(0 0 0 / 4%) 0px 16px 24px, rgb(0 0 0 / 1%) 0px 24px 32px;
  border-radius: 12px;
  padding: 0.5rem;
  display: none;
  flex-direction: column;
  font-size: 1rem;
  position: absolute;
  top: 4rem;
  right: 0rem;
  z-index: 100;
}
.gGiiRt {
  flex: 1 1 0%;
  padding: 0.5rem;
  color: rgb(86, 90, 105);
}
.cEMwVc {
  text-decoration: none;
  cursor: pointer;

  font-weight: 600;
}
.gGiiRt > svg {
  margin-right: 8px;
}
@media only screen and (max-width: 760px) {
  .sc-bbmXgH.brtbBv {
    display: none;
  }
  .isVcBK {
    display: none;
  }
  .kLArsm {
    display: none;
  }
}
